@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');

*{
    padding: 0;
}
.nav{
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.nav .link{
    padding-inline: 10px ;
    display: flex;
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid darkcyan;
    border-radius: 10%;
    background-color: aquamarine;
    opacity: 50%;
    box-shadow: 0 0 40px;
    transition: 0.5s all ease;
}

.nav .link:hover{
    opacity: 100%;
    border: 1px solid red;
}

.link a{
    text-decoration: none;

}

.main{
    display: flex;
    margin: auto;
    width: 100%;
    text-align: center;
}

.left{
    position: absolute;
    background-color: aquamarine;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.left .ids{
    line-height: 100px;
}

.left .ids a{
    text-decoration: none;
    color: rgb(57, 2, 255);
    
}

.middle{
    background-color: aqua;
    width: max-content;
    height: max-content;
    text-align: center;
    margin: auto;
}

.middle .heading{
    display: flex;
    background-color: red;
    padding: 10px;

}

.img img{
    
}