    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

.container{
    width: 80%;
    margin: auto;
    background-color: rgb(202, 202, 202);
}


.hero{
    display: flex;
    padding: 10px;
}

input{
    padding: 10px;
    width: 99%;
    text-align: center;
}

.s-bar{
    width: 99%;
}

.dots{
    margin: auto;
    padding: 10px;
}

.fa-heart{
    padding: 10px;
}

.main{
    display: flex;
}

.recent_apps{
    width: 95%;
}

.btns{
    width: 5%;
}

.icon{
    background-color: white;
    width: fit-content;
    margin: 10px 10px;
    border-radius: 50%;
    background-color: rgb(148, 148, 148);
}


.chrome{
    background-color: rgb(168, 168, 168);
    padding: 20px;
    margin: auto;
    border-radius: 8%;
}

.fa-chrome{
    margin: auto;
    display: flex;
    width: 50%;
}


.youtube{
    background-color: rgb(168, 168, 168);
    padding: 20px;
    margin: auto;
    border-radius: 8%;
}

.fa-youtube{
    margin: auto;
    display: flex;
    width: 50%;
}

.whatsapp{
    background-color: rgb(168, 168, 168);
    padding: 20px;
    margin: auto;
    border-radius: 8%;
}


.fa-whatsapp{
    margin: auto;
    display: flex;
    width: 50%;
}

.game{
    background-color: rgb(168, 168, 168);
    padding: 20px;
    margin: auto;
    border-radius: 8%;
    text-align: center;
}

.fa-gamepad{
    margin: auto;
    display: flex;
    width: 50%;
}

.playstore{
    background-color: rgb(168, 168, 168);
    padding: 20px;
    margin: auto;
    border-radius: 8%;
    text-align: center;
}

.fa-google-play{
    margin: auto;
    display: flex;
    width: 50%;
}

.rec_aps{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    padding: 10px;
}

.title{
    padding: 3px;
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
}

.show_case{
    text-align: center;
}

.desk{
    text-align: center;
}

.tablet{
    display: none;
}

.mobile{
    text-align: center;
    display: none;
}

.A_apps{
    
}


@media only screen and (max-width:700px) {
    .rec_aps{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .title{
        background-color: transparent;
        color: white;
    }

    .desk{
        display: none;
    }

    .tablet{
        display: inline;
        text-align: center;
    }
    .mobile{
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .rec_aps{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        background-color: rgba(0, 255, 191, 0.103);
    }

    .desk{
        display: none;
    }
    
    .tablet{
        display: none;
    }

    .mobile{
        display: inline;
    }
}

